<template>
    <b-navbar toggleable="md" type="dark" variant="dark">

        <b-nav-toggle target="nav_collapse"></b-nav-toggle>

        <b-navbar-brand :to="path('/')" exaсt>
            SUPERUS Travel
        </b-navbar-brand>

        <b-collapse is-nav id="nav_collapse">

            <b-nav is-nav-bar class="ml-auto">
                <b-nav-item-dropdown :text="$i18n.locale.toUpperCase()" right>

                    <b-dropdown-item
                        :to="$route.fullPath.replace(/^\/[^\/]+/, '')"
                        :title="$t('links.RU.title')" active-class="none" :class="{active: $i18n.locale === 'ru'}">
                        <img src="~/assets/flags/ru.png" :alt="$t('links.RU.title')">
                        {{ $t('links.RU.name') }}
                    </b-dropdown-item>

                    <b-dropdown-item
                        :to="'/ro' + ($i18n.locale !== 'ru' ? $route.fullPath.replace(/^\/[^\/]+/, '') : $route.fullPath)"
                        :title="$t('links.RO.title')" active-class="none" :class="{active: $i18n.locale === 'ro'}">
                        <img src="~/assets/flags/ro.png" :alt="$t('links.RO.title')">
                        {{ $t('links.RO.name') }}
                    </b-dropdown-item>

                    <b-dropdown-item
                        :to="'/en' + ($i18n.locale !== 'ru' ? $route.fullPath.replace(/^\/[^\/]+/, '') : $route.fullPath)"
                        :title="$t('links.EN.title')" active-class="none" :class="{active: $i18n.locale === 'en'}">
                        <img src="~/assets/flags/en.png" :alt="$t('links.EN.title')">
                        {{ $t('links.EN.name') }}
                    </b-dropdown-item>

                </b-nav-item-dropdown>
            </b-nav>

        </b-collapse>

    </b-navbar>
</template>

<script>
    export default {
        methods: {
            path (url) {
                return (this.$i18n.locale === 'ru' ? url : '/' + this.$i18n.locale + url)
            }
        }
    }
</script>
