<template>
    <b-container class="card">
        <b-alert show variant="danger" v-if="error">{{error}}</b-alert>
        <transition name="fade">
            <div>
                <b-row v-if="loading" class="min-height">
                    <h1 class="mx-auto">
                        <br>
                        <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </h1>
                </b-row>
                <b-row v-if="!loading && $route.params.depart">
                    <b-col>
                        <h4>
                            {{$t('graph.price_change')}} <strong>{{ $route.params.origin }}</strong>
                            ->
                            <strong>{{$route.params.destination}}</strong>
                            {{$moment($route.params.depart).locale($i18n.locale).format('ll')}}
                        </h4>
                        <line-chart :lineData="priceHistoryData"></line-chart>
                        <b-table striped hover :items="depart_prices" :fields="fields" v-if="depart_prices.length">
                            <template slot="reported" scope="data">
                                {{ $moment(data.value).locale($i18n.locale).format('llll') }}
                            </template>
                            <template slot="price" scope="data">
                                <strong>{{ data.value }}</strong> {{data.item.currency}}
                                <small v-if="data.value > depart_prices[0].price" class="text-danger">
                                    &uarr;{{Math.abs(((data.value - depart_prices[0].price) / ((data.value + depart_prices[0].price) / 2)) * 100).toFixed(2)}}%
                                </small>
                                <small v-else-if="data.value < depart_prices[0].price" class="text-success">
                                    &darr;{{Math.abs(((data.value - depart_prices[0].price) / ((data.value + depart_prices[0].price) / 2)) * 100).toFixed(2)}}%
                                </small>
                                <small v-else class="text-info">
                                    0.00%
                                </small>
                            </template>
                            <template slot="days_diff" scope="data">
                                {{ $moment($route.params.depart).diff($moment(data.item.reported), 'days') }}
                            </template>
                        </b-table>
                        <h3 class="text-center" v-else>{{ $t('graph.no_history') }}</h3>
                    </b-col>
                </b-row>
                <br>
                <b-row v-if="!loading && $route.params.return">
                    <b-col>
                        <h4>
                            {{$t('graph.price_change')}} <strong>{{ $route.params.destination }}</strong>
                            ->
                            <strong>{{$route.params.origin}}</strong>
                            {{$moment($route.params.return).locale($i18n.locale).format('ll')}}
                        </h4>
                        <b-table striped hover :items="return_prices" :fields="fields" v-if="return_prices.length">
                            <template slot="reported" scope="data">
                                {{ $moment(data.value).locale($i18n.locale).format('llll') }}
                            </template>
                            <template slot="price" scope="data">
                                <strong>{{ data.value }}</strong> {{data.item.currency}}
                                <small v-if="data.value > return_prices[0].price" class="text-danger">
                                    &uarr;
                                    {{Math.abs(((data.value - return_prices[0].price) / ((data.value + return_prices[0].price) / 2)) * 100).toFixed(2)}}%
                                </small>
                                <small v-else-if="data.value < return_prices[0].price" class="text-success">
                                    &darr;
                                    {{Math.abs(((data.value - return_prices[0].price) / ((data.value + return_prices[0].price) / 2)) * 100).toFixed(2)}}%
                                </small>
                                <small v-else class="text-info">
                                    0.00%
                                </small>
                            </template>
                            <template slot="days_diff" scope="data">
                                {{ $moment($route.params.return).diff($moment(data.item.reported), 'days') }}
                            </template>
                        </b-table>
                        <h3 class="text-center" v-else>{{ $t('graph.no_history') }}</h3>
                    </b-col>
                </b-row>
            </div>
        </transition>
    </b-container>
</template>
<script>
    export default {
        data () {
            return {
                'error': false,
                'loading': true,
                'origin': null,
                'destination': null,
                'depart': null,
                'depart_prices': [],
                'return': null,
                'return_prices': [],
                'fields': [
                    {'key': 'reported', 'sortable': false, 'label': this.$t('graph.reported')},
                    {'key': 'price', 'sortable': false, 'label': this.$t('graph.price')},
                    {'key': 'days_diff', 'sortable': true, 'label': this.$t('graph.days_diff'), 'class': 'text-center'}
                ],

                priceHistoryData: {

                    datasets: [
                        {
                            label: this.$route.params.origin + ' -> ' + this.$route.params.destination,
                            backgroundColor: ['#9ac690', '#5fc9f8'],
                            hoverBackgroundColor: ['#9ac690', '#5fc9f8'],
                            data: null
                        },

                        {
                            label: this.$route.params.destination + ' -> ' + this.$route.params.origin,
                            backgroundColor: ['#a4c639', '#5fc9f8'],
                            hoverBackgroundColor: ['#a4c639', '#5fc9f8'],
                            data: null
                        }
                    ]
                }
            }
        },

        created () {
            this.origin = this.$route.params.origin
            this.destination = this.$route.params.destination
            this.depart = this.$route.params.depart
            this.return = this.$route.params.return

            this.getFlightPriceGraph(this.origin, this.destination, this.depart, 'depart')

            if (this.return) {
                this.getFlightPriceGraph(this.destination, this.origin, this.return, 'return')
            }
        },
        methods: {
            getFlightPriceGraph (origin, destination, depart, pricesStorage) {
                this.loading = true
                this.error = false
                this.$axios.get('/graph/' + origin + '/' + destination + '/' + depart
                ).then(res => {
                    if (pricesStorage === 'depart') {
                        this.depart_prices = res.data.data.map(point => ({
                            reported: point.reported,
                            price: point.price,
                            currency: point.currency
                        }))
                        this.priceHistoryData.datasets[0].data = res.data.data.map(point => ({
                            x: this.$moment(point.reported),
                            y: point.price
                        }))
                    } else {
                        this.return_prices = res.data.data.map(point => ({
                            reported: point.reported,
                            price: point.price,
                            currency: point.currency
                        }))
                        this.priceHistoryData.datasets[1].data = res.data.data.map(point => ({
                            x: this.$moment(point.reported),
                            y: point.price
                        }))
                    }
                    this.loading = false
                }).catch(error => {
                    this.loading = false
                    this.error = error.message + ': ' + JSON.stringify(error.response || error.request)
                })
            }
        },

        head () {
            return {
                title: this.$t('graph.title')
                    .replace('%1', this.$route.params.origin + ' -> ' + this.$route.params.destination)
                    .replace('%2', this.$moment(this.$route.params.depart).locale(this.$i18n.locale).format('ll')),
                meta: [{
                    hid: 'description',
                    name: 'description',
                    content: this.$t('graph.description')
                        .replace('%1', this.$route.params.origin + ' -> ' + this.$route.params.destination)
                        .replace('%2', this.$moment(this.$route.params.depart).locale(this.$i18n.locale).format('ll'))
                }]
            }
        }
    }
</script>
<style scoped>
    .container {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .card {
        margin-top: 30px;
        opacity: 0.95;
    }
</style>
