<template>
    <div>
        <navbar/>
        <nuxt/>
    </div>
</template>

<script>
    import Navbar from '~/components/Navbar.vue'

    export default {
        head () {
            return {
                titleTemplate: `SUPERUS Travel: %s`
            }
        },
        components: {
            Navbar
        }
    }
</script>

<style>
    html {
        font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        font-size: 16px;
        word-spacing: 1px;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        overflow-y: scroll;
    }

    body {
        background-color: inherit;
        background-size: cover !important; /*this sets the image to fullscreen covering the whole screen*/
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -webkit-transition: all 1s ease-in-out 500ms;
        -moz-transition: all 1s ease-in-out 500ms;
        -o-transition: all 1s ease-in-out 500ms;
        transition: all 1s ease-in-out 500ms;
    }

    *, *:before, *:after {
        box-sizing: border-box;
        margin: 0;
    }
</style>
