<template>
    <div>
        <b-container class="card">
            <b-alert show variant="danger" v-if="error">{{error}}</b-alert>
            <b-row>
                <b-col sm="6">
                    <label>
                        {{ $t('discover.origin') }}
                        <b-form-select v-model="origin" :disabled="loading">
                            <option v-for="airport in airports" :value="airport.iata"
                                    v-if="airport.iata == 'IAS' || airport.iata == 'KIV' || airport.iata == 'FMM'">
                                {{ airport.shortName }}, {{ airport.countryName }} ({{airport.iata}})
                            </option>
                        </b-form-select>
                    </label>
                </b-col>
                <b-col sm="6">
                    <label>
                        {{ $t('discover.destination') }}
                        <b-form-select v-model="destination" :disabled="loading">
                            <option v-for="airport in destinations" :value="airport.iata">
                                {{ airport.shortName }}, {{ airport.countryName }} ({{airport.iata}})
                            </option>
                        </b-form-select>
                    </label>
                </b-col>

                <b-col cols="6" sm="4">
                    <b-form-checkbox :disabled="loading" v-model="date_after_checked">
                        {{ $t('discover.fly_after') }}
                        <b-form-input type="date" :disabled="loading || !date_after_checked" min="0"
                                      v-model="date_after"
                                      :min="date_after_min" :max="date_after_max"></b-form-input>
                    </b-form-checkbox>
                </b-col>

                <b-col cols="6" sm="4">
                    <b-form-checkbox :disabled="loading" v-model="date_before_checked">
                        {{ $t('discover.return_before') }}
                        <b-form-input type="date" :disabled="loading || !date_before_checked" v-model="date_before"
                                      :min="date_before_min" :max="date_before_max"></b-form-input>
                    </b-form-checkbox>
                </b-col>

                <b-col cols="12" sm="4">
                    <label>
                        {{ $t('discover.days_to_stay') }}
                        <vue-slider ref="slider" :min="1" :max="28" tooltip-dir="bottom"
                                    v-model="days_to_stay" :disabled="loading" :lazy="true"></vue-slider>
                    </label>
                </b-col>
            </b-row>
        </b-container>

        <b-container class="card">

            <transition name="fade">
                <b-row v-if="loading" class="min-height">
                    <h1 class="mx-auto">
                        <br>
                        <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    </h1>
                </b-row>

                <b-row v-if="!loading" class="min-height">
                    <b-col>
                        <div v-for="(deals, iata) in discover">
                            <strong>{{ $t('discover.trips_to') }} {{iata}}:</strong>
                            <b-table striped hover :items="deals" :fields="fields" v-if="deals.length">
                                <template slot="flight_out" scope="data">
                                    <router-link
                                        :to="{name: 'price-origin-destination-depart-return', params: {origin: origin, destination: destination, depart: $moment(data.item.flight_out.time).format('YYYYMMDD')}}">
                                        <span
                                            :title="$t('discover.price_updated') + ' ' + $moment(data.value.as_of).locale($i18n.locale).format('lll')">
                                            {{ $moment(data.value.time).locale($i18n.locale).format('llll') }}
                                            <small>({{ data.value.price }} {{ data.value.currency }})</small>
                                        </span>
                                    </router-link>
                                </template>
                                <template slot="flight_in" scope="data">
                                    <router-link
                                        :to="{name: 'price-origin-destination-depart-return', params: {origin: destination, destination: origin, depart: $moment(data.item.flight_in.time).format('YYYYMMDD')}}">
                                        <span
                                            :title="$t('discover.price_updated') + ' ' + $moment(data.value.as_of).locale($i18n.locale).format('lll')">
                                            {{ $moment(data.value.time).locale($i18n.locale).format('llll') }}
                                            <small>({{ data.value.price }} {{ data.value.currency }})</small>
                                        </span>
                                    </router-link>
                                </template>
                                <template slot="cost" scope="data">
                                    <strong>{{data.item.cost}}</strong> {{data.item.currency}}
                                </template>
                            </b-table>
                            <h3 class="text-center " v-else>{{ $t('discover.no_flights') }}</h3>
                            <br/>
                        </div>
                    </b-col>
                </b-row>
            </transition>

        </b-container>
    </div>
</template>

<script>
    import vueSlider from 'vue-slider-component'

    export default {
        data () {
            return {
                'origin': null,
                'destination': null,
                'airports': [],
                'destinations': [],
                'discover': [],
                'fields': [
                    {'key': 'days', 'sortable': true, 'label': this.$t('discover.days')},
                    {'key': 'flight_out', 'sortable': false, 'label': this.$t('discover.flight_out')},
                    {'key': 'flight_in', 'sortable': false, 'label': this.$t('discover.flight_in')},
                    {'key': 'cost', 'sortable': true, 'label': this.$t('discover.cost')}
                ],
                'loading': true,
                'error': false,

                'date_before': null,
                'date_before_min': null,
                'date_before_max': null,
                'date_before_checked': false,

                'date_after': null,
                'date_after_min': null,
                'date_after_max': null,
                'date_after_checked': false,

                'days_to_stay': [3, 14]
            }
        },

        created () {
            this.$axios.get('/airports', {params: {cache: true}})
                .then(res => {
                    this.loading = false
                    this.airports = res.data.data.airports
                    this.origin = this.$route.params.origin
                    this.destination = this.$route.params.destination

                    this.date_before = this.$route.query.date_before

                    this.destinations = this.airports.filter(airport => airport.connections.includes(this.origin))

                    this.discoverFlights()
                })
                .catch(error => {
                    this.loading = false
                    this.error = error.message + ': ' + JSON.stringify(error.response || error.request)
                })
        },

        methods: {
            discoverFlights () {
                if (this.loading || !this.origin || !this.destination) return

                this.loading = true
                this.error = false
                this.discover = []
                this.$axios.get('/search/discover/' + this.origin + '/' + this.destination,
                    {
                        params: {
                            min_days_to_stay: this.days_to_stay[0],
                            max_days_to_stay: this.days_to_stay[1],
                            cache: true,
                            after: this.date_after,
                            before: this.date_before
                        }
                    }
                ).then(res => {
                    this.discover = res.data.data
                    this.loading = false
                }).catch(error => {
                    this.loading = false
                    this.error = error.message + ': ' + JSON.stringify(error.response || error.request)
                })
            }
        },

        watch: {
            origin () {
                console.debug('origin changed', this.origin)
                if (this.origin !== this.$route.params.origin) {
                    this.destinations = this.airports.filter(airport => airport.connections.includes(this.origin))
                    this.destination = this.destinations[0].iata
                }
            },

            destination () {
                console.debug('destination changed', this.destination)
                this.$router.replace({
                    params: {
                        origin: this.origin,
                        destination: this.destination
                    }
                })

                let destination = this.airports.find(airport => airport.iata === this.destination)
                this.$axios.get('https://pixabay.com/api/', {
                    params: {
                        key: '6921650-4cbde0900e6c8ecf365707001',
                        image_type: 'photo',
                        per_page: 5,
                        min_width: 768,
                        min_height: 768,
                        q: destination.shortName.trim().split(' ')[0] + ', ' + destination.countryName.trim()
                    }
                }).then(res => {
                    let items = res.data.hits
                    let image = items[Math.floor(Math.random() * items.length)]
                    console.debug('changing to ', image.webformatURL)
                    document.body.style.background = 'url("' + image.webformatURL + '") no-repeat center center fixed'
                })
            },

            days_to_stay () {
                this.discoverFlights()
            },

            date_before () {
                console.debug('date_before changed')
                if (!this.date_before) {
                    this.date_before_checked = false
                }

                this.discoverFlights()
            },

            date_before_checked () {
                if (this.date_before_checked === false) {
                    this.date_before = null
                    return
                }
                this.date_before = this.$moment().add(2, 'M').format('YYYY-MM-DD')
            },

            date_after_checked () {
                if (this.date_after_checked === false) {
                    this.date_after = null
                    return
                }
                this.date_after = this.$moment().add(1, 'M').format('YYYY-MM-DD')
            },

            date_after () {
                if (!this.date_after) {
                    this.date_after_checked = false
                }
                this.discoverFlights()
            }

        },

        components: {vueSlider},

        head () {
            return {
                title: this.$t('discover.title').replace('%1', this.origin).replace('%2', this.destination),
                meta: [{
                    hid: 'description',
                    name: 'description',
                    content: this.$t('discover.description').replace('%1', this.origin).replace('%2', this.destination)
                }]
            }
        },

        validate ({params}) {
            return params.origin.length === 3 && params.destination.length === 3
        }
    }
</script>

<style scoped>
    .container {
        padding-top: 15px;
    }

    label {
        display: initial;
    }

    .row > div {
        padding-bottom: 10px;
    }

    .card {
        margin-top: 30px;
        opacity: 0.95;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0
    }

    .min-height {
        min-height: 614px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

</style>
