<template></template>
<script>
    export default {
        created () {
            return this.$router.replace({
                name: 'discover-origin-destination',
                params: {
                    origin: 'KIV',
                    destination: 'ATH'
                }
            })
        }
    }
</script>
